<div class="mt-4">
    <form method="get" action="/news">
        <div class="form-group">
            <label for="search-input">Từ khóa</label>
            {{!-- <input type="text" name="fullname" id="">
            <input type="text" name="age" id=""> --}}
            <input type="text" name="q" id="search-input" class="form-control" placeholder="Nhập từ khóa...">
        </div>
        <button type="submit" class="btn btn-primary mt-4">Submit</button>
    </form>
</div>